@font-face {
    font-family: Poppins;
    src: url(/fonty/Poppins-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Poppins;
    src: url(/fonty/Poppins-ExtraBold.ttf);
    font-weight: bold;
}
img {
    height: 130px; 
	margin: 10px 0px 10px 10px;
	float: left;
}
article h1 {
    font-weight: bold;
    font-size: 2em;
    margin: 5px;
    margin-bottom: 20px;
}
article  {
    border: 1px solid lightgray;
    font-family: Poppins;
    background-color: rgb(221, 219, 219);
    box-shadow: 8px 8px 12px #363636;
    width: 400px; 
	height: 150px;
}
article section {
    margin-left: 0px;
}
article section p {
    line-height: 0.2em;
}
