ul {
    list-style: none;
    display: flex;
    background: url(../obrazky/lokomotiva.png) no-repeat;
    padding-left: 110px;
    margin-top: 10px;
    gap: 10px;
    width: 100%;
}
li{
    background: url(../obrazky/vagon.png) no-repeat;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    padding-top: 27px;
    color: white;
}