.fialova {
    background-color: blueviolet;
    color: white;
}
.modra {
    background-color: blue;
}
.azurova {
    background-color: aqua;
}
.zelena {
    background-color: green;
}
.zluta {
    background-color: yellow;
}
.oranzova {
    background-color: orange;
}
.cervena {
    background-color: red;
}
.vinova {
    background-color: darkred;
    color: white;
}