* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: rgb(202, 247, 144);
    width: 960px;
    margin: 0 auto;
}
ul li a:hover {
    background-color: rgb(5, 150, 5);
    color: rgb(202, 247, 144);
}
#logo {
    color: rgb(202, 247, 144);
    background: rgb(5, 150, 5) url(../obrazky/logo_cviceni.png) no-repeat;
    height: 75px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-position: 15px 5px;
}
#logo h1{ 
    padding: 20px 0px 0px 90px;
    font-weight: normal;
    font-size: 1.8em;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    gap: 20px;

}
nav ul li {
    font-size: 1.2em;
}
nav ul a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: black;
    background: rgb(139, 211, 45);
    clip-path: circle(60px at 50% 50%);
    width: 120px;
    height: 120px;
}
section{
    background-color: white;
    padding: 10px;
}
section p {
    margin-top: 10px;
    font-size: 1.2em;
}
section h2 {
    color: rgb(139, 211, 45);
    margin-top: 30px;
    font-size: 1.25em;
    font-weight: normal;
    margin-bottom: 10px;
}
section ul {
    padding-left: 20px;
    font-size: 1.2em;
}
article header {
    background-color: rgb(5, 150, 5);
    color: rgb(202, 247, 144);
    padding: 10px;
    font-size: 1.2em;
    margin-top: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
footer {
    display: flex;
    justify-content: center;
    background-color:rgb(5, 150, 5) ;
    color: rgb(202, 247, 144);
    height: 40px;
    padding-top: 10px;
}